@font-face {
  font-family: "Outfit";
  src: url("./../assets/fonts/outfit/Outfit-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Young Serif";
  src: url("./../assets/fonts/young-serif/YoungSerif-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-neutral: oklch(100% 0.00011 271.152);
  --color-stone-100: oklch(93.148% 0.02338 69.503);
  --color-stone-150: oklch(90.365% 0.01036 67.474);
  --color-stone-600: oklch(46.164% 0.01761 70.588);
  --color-stone-900: oklch(29.995% 0.00469 39.091);
  --color-brown-800: oklch(46.724% 0.09184 38.302);
  --color-rose-800: oklch(41.379% 0.12208 354.705);
  --color-rose-50: oklch(97.931% 0.01254 344.984);

  --font-general: "Outfit", sans-serif;
  --font-headings: "Young Serif", serif;

  --fs-xs: 0.875rem; /* 14px */
  --fs-sm: 1rem; /* 16px */
  --fs-md: 1.125rem; /* 18px */
  --fs-lg: 1.5rem; /* 24px */
  --fs-xl: 1.875rem; /* 30px */
  --fs-2xl: 2.25rem; /* 36px */

  --space-1: 0.25rem; /* 4px */
  --space-2: 0.5rem; /* 8px */
  --space-3: 0.75rem; /* 12px */
  --space-4: 1rem; /* 16px */
  --space-5: 1.5rem; /* 24px */
  --space-6: 2rem; /* 32px */
  --space-7: 3rem; /* 48px */
}

body {
  background-color: var(--color-stone-100);
  font-family: var(--font-general);

  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 624px;
  margin: 0 auto;
}

.recipe {
  background-color: var(--color-neutral);
  border-radius: 24px;
  padding: var(--space-6);
}

.recipe-figure {
  margin-bottom: var(--space-5);
}

.recipe-image {
  width: 100%;
  height: auto;
}

.recipe-title {
  font-family: var(--font-headings);
  color: var(--color-stone-900);
  margin-bottom: var(--space-5);
  line-height: 30px;
  font-weight: 400;
}

.recipe-description {
  color: var(--color-stone-600);
  font-size: var(--fs-sm);
  margin-bottom: 24px;
}

.recipe-preparation {
  background-color: var(--color-rose-50);
  padding: var(--space-5);
  border-radius: 16px;
}

.recipe-preparation-title {
  color: var(--color-rose-800);
  font-size: var(--fs-md);
  font-weight: 600;
  margin-bottom: 8px;
}

.recipe-preparation-list {
  margin-left: var(--space-5);
  color: var(--color-stone-600);
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  font-size: var(--fs-xs);
}

.recipe-preparation-valuable {
  margin-left: var(--space-4);
}
